{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "statements": 90,
  "lines": 90,
  "branches": 90,
  "functions": 90,
  "exclude": [
    "**/*.spec.ts",
    "**/*.test.ts",
    "**/*.d.ts",
    "src/index.ts",
    "**/*.config.ts",
    "**/coverage/*",
    "**/dist/dna-frontend/browser"
  ],
  "reporter": ["text", "html"],
  "report-dir": "coverage"
}
