<header>
  <tui-app-bar class="app-bar">
    <tui-svg
      class="sidebar-icon-toggle"
      tuiSlot="left"
      (click)="toggle(true)"
      (tuiActiveZoneChange)="toggle(false)"
      src="tuiIconMenuLarge">
      <div *tuiSidebar="open" class="flex column">
        <div class="nav-label flex c-center">
          <h3>Navigation</h3>
        </div>
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-link flex c-center"
          icon="tuiIconUserLarge"
          iconAlign="left"
          [routerLink]="constructRoute('/client')"
          tuiLink
          >Client</a
        >
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-link flex c-center"
          icon="tuiIconUsersLarge"
          iconAlign="left"
          [routerLink]="constructRoute('/beneficiaries')"
          tuiLink
          >Beneficiaries</a
        >
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-link flex c-center"
          icon="tuiIconBriefcaseLarge"
          iconAlign="left"
          [routerLink]="constructRoute('/businesses')"
          tuiLink
          >Businesses</a
        >
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-link flex c-center"
          icon="tuiIconDollarSignLarge"
          iconAlign="left"
          [routerLink]="constructRoute('/assets')"
          tuiLink
          >Assets</a
        >
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-link flex c-center"
          icon="tuiIconTrendingDownLarge"
          iconAlign="left"
          [routerLink]="constructRoute('/debts')"
          tuiLink
          >Debts</a
        >
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-link flex c-center"
          icon="tuiIconFlagLarge"
          iconAlign="left"
          [routerLink]="constructRoute('/goals')"
          tuiLink
          >Goals</a
        >
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-link flex c-center"
          icon="tuiIconBarChart2Large"
          iconAlign="left"
          [routerLink]="constructRoute('/total-needs')"
          tuiLink
          >Total Needs</a
        >
        <app-horizontal-divider></app-horizontal-divider>

        <div class="nav-label flex c-center">
          <h3>Client</h3>
        </div>
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-action flex c-center"
          icon="tuiIconDownloadLarge"
          iconAlign="left"
          [routerLink]="constructRouteWithoutClientId('/client-list')"
          tuiLink
          >Change Client</a
        >
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-action flex c-center"
          icon="tuiIconSaveLarge"
          iconAlign="left"
          tuiLink
          >Save to File</a
        >
        <app-horizontal-divider></app-horizontal-divider>
        <a
          class="nav-action flex c-center"
          icon="tuiIconLogOutLarge"
          iconAlign="left"
          [routerLink]="constructRouteWithoutClientId('/landing')"
          tuiLink
          >Exit to Dashboard</a
        >
        <app-horizontal-divider></app-horizontal-divider>
      </div>
    </tui-svg>
    <h1 class="page-title">{{ pageName }}</h1>
  </tui-app-bar>
</header>
