<app-header-bar pageName="Edit Asset"></app-header-bar>
<tui-tabs
  class="nav-tabs flex row m-center"
  [(activeItemIndex)]="activeItemIndex">
  <button tuiTab>Information</button>
  <button tuiTab>Beneficiaries</button>
</tui-tabs>
<form
  class="asset-edit-form flex column m-start c-center gap-2"
  *ngIf="activeItemIndex === 0; else elseBlock"
  [formGroup]="assetEditInformationForm">
  <tui-select formControlName="type">
    Type
    <tui-data-list-wrapper
      *tuiDataList
      [items]="typeOptions"></tui-data-list-wrapper>
  </tui-select>
  <tui-input tuiTextfieldSize="s" formControlName="name">
    Asset Name
    <input tuiTextfield />
  </tui-input>
  <tui-input-number tuiTextfieldSize="s" formControlName="yearAcquired">
    Year Acquired
    <input tuiTextfield />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="initialValue">
    Initial Value ($)
    <input tuiTextfield />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="currentValue">
    Current Value ($)
    <input tuiTextfield />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="rate">
    Appreciation Rate (%)
    <input tuiTextfield />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="term">
    Term (Years)
    <input tuiTextfield />
  </tui-input-number>
  <tui-checkbox-block formControlName="isTaxable">Taxable</tui-checkbox-block>
  <tui-checkbox-block formControlName="isLiquid">Liquid</tui-checkbox-block>
  <tui-checkbox-block formControlName="isToBeSold"
    >To Be Sold</tui-checkbox-block
  >
</form>
<ng-template #elseBlock>
  <form
    class="asset-beneficiary-form gap-2 flex column m-start c-center"
    [formGroup]="assetEditBeneficiariesForm">
    <div class="asset-section flex column m-start c-center gap-2">
      <ng-container
        *ngFor="let beneficiary of beneficiaries.controls; let i = index"
        formArrayName="beneficiaries">
        <ng-container formGroupName="{{ i }}">
          <tui-checkbox-block formControlName="isEnabled">
            {{ beneficiary.get('name')?.value }}
          </tui-checkbox-block>
          <tui-input-number
            tuiTextfieldSize="s"
            *ngIf="beneficiary.get('isEnabled')?.value || false"
            formControlName="allocation">
            {{ beneficiary.get('name')?.value }} Allocation (%)
            <input tuiTextfield />
          </tui-input-number>
          <app-horizontal-divider></app-horizontal-divider>
        </ng-container>
      </ng-container>
    </div>
  </form>
</ng-template>
<div class="spacer"></div>
<div class="spacer"></div>
<app-action-bar
  (leftButtonClick)="cancel()"
  (rightButtonClick)="save()"></app-action-bar>
