<app-header-bar pageName="Edit Business"></app-header-bar>
<tui-tabs
  class="nav-tabs flex row m-center"
  [(activeItemIndex)]="activeItemIndex">
  <button tuiTab>Information</button>
  <button tuiTab>Shareholders</button>
</tui-tabs>
<form
  class="business-edit-form flex column m-start c-center gap-2 margin-vertical-s"
  [formGroup]="businessEditInformationForm"
  *ngIf="activeItemIndex === 0; else elseBlock">
  <tui-input tuiTextfieldSize="s" formControlName="name">
    Name
    <input tuiTextfield (blur)="onBlur()" />
  </tui-input>
  <tui-input-number tuiTextfieldSize="s" formControlName="valuation">
    Valuation ($CAD)
    <input tuiTextfield (blur)="onBlur()" />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="ebitda">
    EBITDA ($CAD)
    <input tuiTextfield (blur)="onBlur()" />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="appreciationRate">
    Appreciation Rate ($CAD)
    <input tuiTextfield (blur)="onBlur()" />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="term">
    Term (Years)
    <input tuiTextfield (blur)="onBlur()" />
  </tui-input-number>
  <tui-notification status="warning" [hasIcon]="true">
    Add shareholders using the tabs above.
  </tui-notification>
</form>
<ng-template #elseBlock>
  <form
    class="business-edit-form flex column m-start c-center margin-vertical-s"
    [formGroup]="businessEditShareholdersForm">
    <div
      class="business-edit-shareholder-dynamic-section flex column m-start c-center gap-2">
      <ng-container
        *ngFor="let shareholder of shareholders.controls; let i = index"
        formArrayName="shareholders">
        <ng-container formGroupName="{{ i }}">
          <tui-input
            class="business-edit-shareholder-input"
            tuiTextfieldSize="s"
            formControlName="name">
            Name
            <input tuiTextfield (blur)="onBlur()" />
          </tui-input>
          <tui-input-number
            class="business-edit-shareholder-input"
            tuiTextfieldSize="s"
            formControlName="sharePercentage">
            Share Percentage (%)
            <input tuiTextfield (blur)="onBlur()" />
          </tui-input-number>
          <tui-input-number
            class="business-edit-shareholder-input"
            tuiTextfieldSize="s"
            formControlName="insuranceCoverage">
            Insurance Coverage ($)
            <input tuiTextfield (blur)="onBlur()" />
          </tui-input-number>
          <tui-input-number
            class="business-edit-shareholder-input"
            tuiTextfieldSize="s"
            formControlName="ebitdaContributionPercentage">
            EBITDA Contribution Percentage (%)
            <input tuiTextfield (blur)="onBlur()" />
          </tui-input-number>
          <button
            tuiButton
            type="button"
            appearance="secondary-destructive"
            class="delete-button"
            (click)="openDeleteDialog(i)">
            Delete
          </button>
          <app-horizontal-divider class="info-divider"></app-horizontal-divider>
        </ng-container>
      </ng-container>
    </div>
    <button
      tuiButton
      type="button"
      class="add-new-button"
      (click)="addShareholder()">
      Add New
    </button>
  </form>
</ng-template>
<app-action-bar
  (leftButtonClick)="cancel()"
  (rightButtonClick)="save()"></app-action-bar>
