<ng-container *ngIf="vm$ | async as vm">
  <app-calculator>
    <tui-tabs
      class="nav-tabs flex row m-center"
      [(activeItemIndex)]="activeItemIndex">
      <button tuiTab>Input Data</button>
      <button tuiTab>Results</button>
    </tui-tabs>
    <form
      class="business-form flex column m-start c-center"
      [formGroup]="businessesForm"
      *ngIf="activeItemIndex === 0; else elseBlock">
      <div class="business-info-dynamic-section flex column m-start c-center">
        <ng-container
          *ngFor="let business of businesses.controls; let i = index"
          formArrayName="businesses">
          <ng-container formGroupName="{{ i }}">
            <tui-input
              tuiTextfieldSize="s"
              class="business-input"
              formControlName="name">
              Name
              <input tuiTextfield (blur)="onBlur()" />
            </tui-input>
            <button
              tuiButton
              appearance="secondary"
              type="button"
              class="edit-button"
              (click)="editBusiness(i)">
              Edit
            </button>
            <button
              tuiButton
              type="button"
              appearance="secondary-destructive"
              class="delete-button"
              (click)="openDeleteDialog(i)">
              Delete
            </button>
            <app-horizontal-divider
              class="info-divider"></app-horizontal-divider>
          </ng-container>
        </ng-container>
      </div>
      <button
        tuiButton
        type="button"
        class="add-new-button"
        (click)="addBusiness()">
        Add New
      </button>
    </form>
    <ng-template #elseBlock>
      <ng-container *ngIf="vm.businesses">
        <div class="business-result-container flex column c-center gap-2">
          <ng-container *ngFor="let business of vm.businesses; let i = index">
            <app-multi-value-card
              [header]="business.name || 'Business ' + (i + 1)"
              [compact]="true"
              [values]="[
                {
                  label: 'Total Shareholder Percentage Owned (%)',
                  value:
                    (calculateTotalShareholderPercentage(business) || 0
                      | percent) || '0%'
                },
                {
                  label: 'Total EBITDA Contribution (%)',
                  value:
                    (calculateTotalEbitdaPercentage(business) || 0 | percent) ||
                    '0%'
                },
                {
                  label: 'Total Major Shareholder Value ($)',
                  value:
                    (calculateTotalShareholderValue(business) || 0
                      | currency) || '$0.00'
                },
                {
                  label: 'Total Major Shareholder Insurance ($)',
                  value:
                    (calculateTotalShareholderInsurance(business) || 0
                      | currency) || '$0.00'
                },
                {
                  label: 'Total Major Shareholder Disparity ($)',
                  value:
                    (calculateTotalShareholderDisparity(business) || 0
                      | currency) || '$0.00'
                }
              ]"></app-multi-value-card>
            <ng-container
              *ngFor="let shareholder of business.shareholders; let i = index">
              <app-value-list-card
                [header]="shareholder.name || 'Shareholder ' + (i + 1)"
                [values]="[
                  {
                    label: 'EBITDA Contribution ($)',
                    value:
                      (calculateEbitdaContribution(business, shareholder)
                        | currency) || '$0.00'
                  },
                  {
                    label: 'Share Value ($)',
                    value:
                      (calculateShareValue(business, shareholder) | currency) ||
                      '$0.00'
                  },
                  {
                    label: 'Liquidation Disparity ($)',
                    value:
                      (calculateLiquidationDisparity(business, shareholder)
                        | currency) || '$0.00'
                  }
                ]"></app-value-list-card>
            </ng-container>
            <app-chart-island header="Compounded EBITDA ($)">
              <tui-axes
                axisYName="EBITDA ($)"
                class="axes"
                [axisXLabels]="axisXLabels(business)"
                [axisYInset]="true"
                [axisYLabels]="axisEbitdaYLabels(business)"
                [horizontalLines]="4"
                [horizontalLinesHandler]="horizontalLinesHandler"
                ><tui-line-chart
                  *ngFor="
                    let value of calculateCompoundedEbitdaContribution(
                      business
                    );
                    let i = index
                  "
                  class="chart"
                  [style.color]="color(i)"
                  [x]="getXMin()"
                  [y]="0"
                  [smoothingFactor]="50"
                  [width]="getXMax(business)"
                  [height]="getEbitdaYMax(business)"
                  [value]="value"></tui-line-chart>
              </tui-axes>
            </app-chart-island>
            <app-legend
              [items]="
                getShareholderLegend(business.shareholders)
              "></app-legend>
            <app-chart-island header="Share Value Over Time ($)">
              <tui-axes
                axisYName="EBITDA ($)"
                class="axes"
                [axisXLabels]="axisXLabels(business)"
                [axisYInset]="true"
                [axisYLabels]="axisShareYLabels(business)"
                [horizontalLines]="4"
                [horizontalLinesHandler]="horizontalLinesHandler"
                ><tui-line-chart
                  *ngFor="
                    let value of calculateCompoundedShareValue(business);
                    let i = index
                  "
                  class="chart"
                  [style.color]="color(i)"
                  [x]="getXMin()"
                  [y]="0"
                  [smoothingFactor]="50"
                  [width]="getXMax(business)"
                  [height]="getShareYMax(business)"
                  [value]="value"></tui-line-chart>
              </tui-axes>
            </app-chart-island>
            <app-legend
              [items]="
                getShareholderLegend(business.shareholders)
              "></app-legend>
            <app-horizontal-divider></app-horizontal-divider>
          </ng-container>
        </div>
      </ng-container>
    </ng-template>
  </app-calculator>
</ng-container>
