:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  min-height: 100%;
  height: auto;
}

.total-needs-form {
  height: auto;
  width: 100%;

  > * {
    width: 90%;
  }
}

.nav-tabs {
  margin-bottom: 1em;
  box-shadow: none;
}

.total-needs-result-container {
  height: auto;
  width: 100%;

  > * {
    width: 90%;
  }
}
