<form [formGroup]="formGroup">
  <app-textbox
    formControlName="textboxControlName"
    [textInputLabel]="textInputLabel"></app-textbox>
  <app-select
    formControlName="selectControlName"
    [items]="items"
    [selectLabel]="selectLabel"></app-select>
  <app-checkbox-block
    formControlName="checkboxControlName"
    [checkboxLabel]="checkboxLabel"></app-checkbox-block>
  <app-input-slider
    formControlName="selectControlName"
    [max]="max"
    [min]="min"
    [quantum]="quantum"
    [label]="sliderInputLabel"></app-input-slider>
  <app-textarea></app-textarea>
</form>

<app-error [error]="validationError"></app-error>
<app-button [icon]="buttonIcon" [text]="buttonText"></app-button>
<app-appbar [pageName]="pageName"></app-appbar>
<app-tabs></app-tabs>
<app-progress-segmented
  [max]="segmentBarMax"
  [segments]="segmentBarSegments"
  [value]="segmentBarValue"></app-progress-segmented>
<app-piechart [value]="piechartValues"></app-piechart>
<app-axes
  [axisXLabels]="axisXLabels"
  [axisYLabels]="axisYLabels"
  [axisYSecondaryLabels]="axisYSecondaryLabels">
  <app-barchart></app-barchart>
</app-axes>
<app-axes
  [axisXLabels]="axisXLabels"
  [axisYLabels]="axisYLabels"
  [axisYSecondaryLabels]="axisYSecondaryLabels">
  <app-linechart></app-linechart>
</app-axes>
<app-notification [notification]="notification"></app-notification>
