<form [formGroup]="formGroup">
  <app-textbox
    formControlName="textboxControlName"
    [textInputLabel]="textInputLabel"></app-textbox>
  <app-select
    formControlName="selectControlName"
    [items]="items"
    [selectLabel]="selectLabel"></app-select>
</form>

<app-error [error]="validationError"></app-error>
<app-button [icon]="buttonIcon" [text]="buttonText"></app-button>
<app-appbar [pageName]="pageName"></app-appbar>
<app-tabs></app-tabs>
<app-progress-segmented></app-progress-segmented>
<app-piechart></app-piechart>
<app-axes>
  <app-barchart></app-barchart>
</app-axes>
<app-axes>
  <app-linechart></app-linechart>
</app-axes>
<app-notification></app-notification>
<app-checkbox-block></app-checkbox-block>
<app-input-slider></app-input-slider>
<app-textarea></app-textarea>
