<form [formGroup]="formGroup">
  <app-textbox
    formControlName="textboxControlName"
    [textInputLabel]="textInputLabel"></app-textbox>
</form>

<app-error></app-error>
<app-button></app-button>
<app-appbar [pageName]="pageName"></app-appbar>
<app-tabs></app-tabs>
<app-select></app-select>
<app-progress-segmented></app-progress-segmented>
<app-piechart></app-piechart>
<app-axes>
  <app-barchart></app-barchart>
</app-axes>
<app-axes>
  <app-linechart></app-linechart>
</app-axes>
<app-notification></app-notification>
<app-checkbox-block></app-checkbox-block>
<app-input-slider></app-input-slider>
<app-textarea></app-textarea>
