:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  height: 100%;
}

.nav-tabs {
  margin-bottom: 1em;
  box-shadow: none;
}

.beneficiary-form {
  height: auto;
  width: 100%;
  margin-bottom: 1em;

  > * {
    width: 90%;
  }
}

.beneficiary-result-container {
  height: auto;
  width: 100%;
  margin-bottom: 1em;

  > * {
    width: 90%;
  }
}

.beneficiary-input {
  margin-bottom: 1em;
  width: 100%;
}

.info-divider {
  margin-bottom: 1em;
  margin-top: 1em;
}

.delete-button {
  width: 100%;
}

.axes {
  --tui-chart-0: #ff0000;
  --tui-chart-1: #00ff00;
  --tui-chart-2: #0000ff;
  --tui-chart-3: #ffff00;
  --tui-chart-4: #ff00ff;
  --tui-chart-5: #00ffff;
  --tui-chart-6: #ffa500;
  --tui-chart-7: #800080;
  --tui-chart-8: #008000;
  --tui-chart-9: #000080;
}
