<ng-container *ngIf="vm$ | async as vm">
  <app-calculator>
    <tui-tabs
      class="nav-tabs flex row m-center"
      [(activeItemIndex)]="activeItemIndex">
      <button tuiTab>Input Data</button>
      <button tuiTab>Results</button>
    </tui-tabs>
    <form
      class="debts-form flex column m-start c-center gap-2"
      [formGroup]="debtsForm"
      *ngIf="activeItemIndex === 0; else elseBlock">
      <div class="debt-section flex column m-start c-center gap-2">
        <ng-container
          *ngFor="let debt of debts.controls; let i = index"
          formArrayName="debts">
          <ng-container formGroupName="{{ i }}">
            <tui-input tuiTextfieldSize="s" formControlName="name">
              Name
              <input tuiTextfield (blur)="onBlur()" />
            </tui-input>
            <tui-input-number
              class="business-input"
              formControlName="initialValue">
              Initial Value ($)
              <input tuiTextfield (blur)="onBlur()" />
            </tui-input-number>
            <button
              tuiButton
              type="button"
              appearance="secondary"
              class="edit-button"
              (click)="editDebt(i)">
              Edit
            </button>
            <button
              tuiButton
              type="button"
              appearance="secondary-destructive"
              class="delete-button"
              (click)="openDeleteDialog(i)">
              Delete
            </button>
            <app-horizontal-divider></app-horizontal-divider>
          </ng-container>
        </ng-container>
      </div>
      <button
        tuiButton
        type="button"
        appearance="primary"
        class="delete-button"
        (click)="addDebt()">
        Add New
      </button>
    </form>
    <ng-template #elseBlock>
      <div class="debts-result-container flex column c-center gap-2">
        <app-value-card
          [value]="{
            label: 'Total Initial Value ($)',
            value:
              (calculateTotalInitialValue(vm.debts) || 0 | currency) || '$0.00'
          }"
          [compact]="true"></app-value-card>
        <app-value-card
          [value]="{
            label: 'Total Insurable Future Value ($)',
            value:
              (calculateTotalFutureValue(vm.debts) || 0 | currency) || '$0.00'
          }"
          [compact]="true"></app-value-card>
        <ng-container *ngFor="let debt of vm.debts; let i = index">
          <app-value-list-card
            [header]="debt.name || 'Debt ' + (i + 1)"
            [values]="[
              {
                label: 'Initial Value ($)',
                value: (debt.initialValue | currency) || '$0.00'
              },
              {
                label: 'Insurable Future Value ($)',
                value: (calculateSingleFutureValue(debt) | currency) || '$0.00'
              }
            ]"></app-value-list-card>
        </ng-container>
        <app-chart-island header="Debts Over Time ($)">
          <tui-axes
            axisYName="Debt Value ($)"
            class="axes"
            [axisXLabels]="axisXLabels(vm.debts)"
            [axisYInset]="true"
            [axisYLabels]="axisDebtYLabels(vm.debts)"
            [horizontalLines]="4"
            [horizontalLinesHandler]="horizontalLinesHandler"
            ><tui-line-chart
              *ngFor="
                let value of calculateRemainingDebt(vm.debts);
                let i = index
              "
              class="chart"
              [style.color]="color(i)"
              [x]="getXMin(vm.debts)"
              [y]="0"
              [smoothingFactor]="50"
              [width]="getXMax(vm.debts)"
              [height]="getDebtYMax(vm.debts)"
              [value]="value"></tui-line-chart>
          </tui-axes>
        </app-chart-island>
        <app-legend [items]="getDebtLegend(vm.debts)"></app-legend>
      </div>
    </ng-template>
  </app-calculator>
</ng-container>
