<ng-container *ngIf="vm$ | async as vm">
  <app-calculator>
    <tui-tabs
      class="nav-tabs flex row m-center"
      [(activeItemIndex)]="activeItemIndex">
      <button tuiTab>Input Data</button>
      <button tuiTab>Results</button>
    </tui-tabs>
    <form
      class="debts-form flex column m-start c-center gap-2"
      [formGroup]="debtsForm"
      *ngIf="activeItemIndex === 0; else elseBlock">
      <div class="debt-section flex column m-start c-center gap-2">
        <ng-container
          *ngFor="let debt of debts.controls; let i = index"
          formArrayName="debts">
          <ng-container formGroupName="{{ i }}">
            <tui-input tuiTextfieldSize="s" formControlName="name">
              Name
              <input tuiTextfield (blur)="onBlur()" />
            </tui-input>
            <tui-input-number
              class="business-input"
              formControlName="initialValue">
              Initial Value ($)
              <input tuiTextfield (blur)="onBlur()" />
            </tui-input-number>
            <tui-input-number
              class="business-input"
              formControlName="insurableFutureValue">
              Insurable Future Value ($)
              <input tuiTextfield (blur)="onBlur()" />
            </tui-input-number>
            <button
              tuiButton
              type="button"
              appearance="secondary"
              class="edit-button"
              (click)="editDebt(i)">
              Edit
            </button>
            <button
              tuiButton
              type="button"
              appearance="secondary-destructive"
              class="delete-button"
              (click)="openDeleteDialog(i)">
              Delete
            </button>
            <app-horizontal-divider></app-horizontal-divider>
          </ng-container>
        </ng-container>
      </div>
      <button
        tuiButton
        type="button"
        appearance="primary"
        class="delete-button"
        (click)="addDebt()">
        Add New
      </button>
    </form>
    <ng-template #elseBlock>
      <div class="debts-result-container gap-2 flex column c-center">
        <app-value-card
          [value]="totalInitialValue"
          [compact]="false"></app-value-card>
        <app-value-card
          [value]="totalInsurableFutureValue"
          [compact]="false"></app-value-card>
        <app-line-chart header="Value ($)"></app-line-chart>
      </div>
    </ng-template>
  </app-calculator>
</ng-container>
